{% extends 'base.html' %}
{% block title %}
    {{ question.title }} - Quelock
{% endblock %}
{% block body %}
    {% load static %}

    <div class="container" style="padding-left: 25px; padding-right: 0;">
        <div class="row" style="margin-top: 50px;">
            <div class="col-lg-9 left-col">

                <div class="post strong-padding card answer-box"
                     style="margin-top: 10px; width: 100%; background-color: rgba(255, 253, 254, 0.5)">
                    {% for topic in topics %}
                        <a href="/topics/{{ topic.under.id }}"><span class="badge">{{ topic.under.title }}</span></a>
                    {% endfor %}

                    <!----  QUESTION GOES IN HERE -------------->
                    <div class="row">
                        <div class="col-lg-11">
                            <h3 id='post-title' style="margin-top: 3px;"><a
                                    href="{{ question.get_absolute_url }}">{{ question.title }}</a></h3>
                            <span style="line-height: 25px;"> question asked by <a
                                    href='/profile/{{ question.author.username }}'
                                    class='author-name'>{{ question.author.first_name }} {{ question.author.last_name }}</a></span><br>

                            <p style='color: lightgrey;'
                               class='view-no glyphicon glyphicon-eye-open'> {{ question.no_of_views }}</p>

                            <p style='color:grey;' class='how-long'>Asked {{ question.date_asked }}
                                at {{ question.time_asked }}</p>
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                    <div class='question_desc_div'>
                        <p class='question_desc'>
                            {{ question.question_details|safe }}
                        </p>
                    </div>
                    <br>

                    <p>

                        {% if question.author != user %}
                            <button class='btn btn-default btn-xs'><span class='fa fa-share-alt'></span> Share</button>
                        {% endif %}
                        {% if user.is_authenticated %}
                            <a href="/questions/{{ question.slug }}/edit">
                                <button class='btn btn-default btn-xs'><span class='glyphicon glyphicon-pencil'></span>
                                    Edit
                                </button>
                            </a>
                        {% endif %}
                    </p>
                </div>

                {% if question.no_following_quest != 0 %}
                    {{ question.no_following_quest }} are following this question.
                {% endif %}
                <hr/>

                <hr>

                {% if user.is_authenticated %}
                    {% if not user_has_answered_question_already %}
                        Can you answer this question ?
                        <br>
                        <br>
                        <a onclick="answer_question()">
                            <button style="background-color: rgba(43, 192, 106, 0.6);
                            border: 1px solid black" class="btn btn-primary btn-md">
                                <span class="glyphicon glyphicon-pencil"></span> Answer
                            </button>
                        </a>
                        <div class="answer-pane"></div>
                    {% endif %}
                {% else %}
                    You are not logged in, please login to answer the question
                {% endif %}

                <hr>

                <div class="answers">
                    <div class="no-of-answers" style="font-weight: bolder"></div>
                    <br>

                    <!-- COMMENTS GO HERE -->
                </div>


            </div>
            <div class="col-lg-3">
                <h4>You might want to read these</h4>
                <hr/>
                <div class="related-posts-div">
                    <ul class="related-posts-list">

                    </ul>
                </div>

            </div>
        </div>

    </div>
    <hr/>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <h3>Top Stories From Your Feeds</h3>
                <hr>
                <div class="col-lg-4 top-stories-footer">
                    <a href="">
                        <div class="tile">
                            <span class="date">Aug 31</span>

                            <h3 class="post-topic">Topic Goes Here</h3>

                            <div class="post-content">

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="">
                        <div class="tile">
                            <span class="date">Aug 31</span>

                            <h3 class="post-topic">Topic Goes Here</h3>

                            <div class="post-content">

                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4">
                    <a href="">
                        <div class="tile">
                            <span class="date">Aug 31</span>

                            <h3 class="post-topic">Topic Goes Here</h3>

                            <div class="post-content">


                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <script src="{% static 'scripts/jquery.min.js' %}"></script>
        <script>
            var question_id = {{ question.id }}
            var host = window.location.host;
            var csrftoken = '{{ csrf_token }}';
            var is_loggedin = '{{ user.is_authenticated }}';
            var user = '{{ user }}';
            var req_user = '';
        </script>
        <script async src="{% static 'scripts/bootstrap.min.js' %}"></script>
        <script src="{% static 'scripts/custom.js' %}"></script>

        <script>
            $(document).ready(function () {
                loadQuestionAnswers();
            });
        </script>
    </footer>

    <div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 style="color: #444444">Answer Question</h3>
                </div>
                <div class="modal-body">
                    <b style="font-weight: bolder"><h1>{{ question.title }}</h1></b>
                    <small>{{ question.question_details|safe }} </small>
                    <a class="show_" onclick="show_or_hide()">show details</a>
                    <form action="/questions/{{ question.slug }}/answerit/" method="post" name="question-form"
                          id="question-form">
                        {% csrf_token %}
                        <div id="details"></div>
                        <br>

                        <p><input type="submit" value="Submit Answer" class="btn btn-default">
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="float: right;">Close</button>
                        </p>

                    </form>
                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>


    <div class="modal fade" id="commentsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header comment-modal-header">

                </div>
                <h4 style="color: #444444; text-align: center">Comments</h4>
                <div class="modal-body comment-modal-body">

                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-danger comments-modal-close" data-dismiss="modal">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>



    <link rel="stylesheet" href="{% static 'trumbowyg/trumbowyg.min.css' %}">
    <script src="{% static 'trumbowyg/trumbowyg.min.js' %}"></script>
    <script src="{% static 'trumbowyg/plugins/trumbowyg.upload.min.js' %}"></script>

    <script>
        $('.modal-body > small').hide();
        $("#details").trumbowyg({

            btnsDef: {
                // Customizables dropdowns
                image: {
                    dropdown: ['insertImage', 'upload', 'noEmbed'],
                    ico: 'insertImage'
                }
            },
            btns: [
                ['viewHTML'],
                ['undo', 'redo'],
                ['formatting'],
                'btnGrp-design',
                ['link'],
                ['image'],
                'btnGrp-justify',
                'btnGrp-lists',
                ['foreColor', 'backColor'],
                ['preformatted'],
                ['horizontalRule'],
                ['fullscreen']
            ],
            plugins: {
                upload: {
                    serverPath: 'http://' + window.location.host + '/upload/',
                    fileFieldName: 'image',
                }
            }
        });

        function show_or_hide(){
            $('.modal-body > small').show();
            $('.modal-body > a').hide();
        }

    </script>

{% endblock %}


